*{  background-color: #800000;

}
h1{
     color: white;
    padding-top: 10px;
    text-align: center;
    font-size: 60px;
    font-family: roboto;
}
input{
    background-color: white;
    width: 70%;
    margin-left: 12%;
    font-size: 20px;
    padding: 16px 16px;
    border-radius: 10px;
    margin-bottom: 20px;
    border-color: black;
    font-family: roboto;

}
textarea{
    background-color: white;
    width: 70%;
    margin-left: 12%;
    font-size: 20px;
    padding: 16px 16px;
    border-radius: 10px;
    margin-bottom: 25px;
    border-color: black;
    font-family: roboto;

}
input:focus-within{
    
    border-color: orange;
    border-width: 3px;
    outline: none;

}
textarea:focus-within{
    
    border-color: orange;
    border-width: 3px;
    outline: none;

}
button{
    background-color: orange;
    border-color: black;
    padding: 10px 18px;
    border-radius: 20px;
    font-size: 22px;
    text-align: center;
    display: flex;
    margin: auto;


}
button:hover{
    opacity: 80%;
    cursor: pointer;
}